@media (min-width:1300px){
    body{
    background-color: aliceblue;
}
.div1{
    background-color: #3a0077;
    height: 650px;
    width: 450Px;
    border-radius: 40px;
    margin: 100px 25%;
} 
.titre1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    color: grey;
    margin-left: 38%;
    position: relative;
    top: 80px;
}
.pourcentage{
    width: 200px;
    border-radius: 50%;
    background-color: #6643b5 ;
    width: 250px;
    height: 250px;
    margin-left: 25%;
    position: relative;
    top: 10px;
}
.POUR{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    margin-left: 28%;
    position: relative;
    top: 60px;
}
.CENTAGE{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
    margin-left: 33%;
    position: relative;
    top: -45px;
}
.draCHnw{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
    margin-left: 35%;
    margin-top: 50px;
}
.draCHnw2{
    width: 80%;
    margin-left:20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}
.drachnw3{
    width: 80%;
    margin-left:25%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    position: relative;
    top: -20px;
}
.drachnw4{
    width: 80%;
    margin-left:40%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    position: relative;
    top: -40px;
}
.div2{
    background-color: white;
    height: 650px;
    width: 500Px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin: -750px 52%;
}
#titre{
    margin-left: 50px;
    position: relative;
    top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 28px;
}
.div11{
    margin-left: 10%;
    position: relative;
    top: 5%;
    background-color: #ffd3b6 ;
    height: 50px;
    width: 80%;
    border-radius: 20px;
}
.a{
    color: #fd5959;
    position: relative;
    top: 30%;
    margin-left: 20px;
}
.aa{
    position: relative;
    top: -22px;
    margin-left: 23px;
}
.div22{
    margin-left: 10%;
    position: relative;
    top: 8%;
    background-color: #ffebbb ;
    height: 50px;
    width: 80%;
    border-radius: 20px;
}
.b{
    color: #f07810;
    position: relative;
    top: 30%;
    margin-left: 20px;
}
.bb{
    position: relative;
    top: -22px;
    margin-left: 23px;
}
.div3{
    margin-left: 10%;
    position: relative;
    top: 10%;
    background-color: #e0ffcd ;
    height: 50px;
    width: 80%;
    border-radius: 20px;
}
.c{
    color: #42b883;
    position: relative;
    top: 30%;
    margin-left: 20px;
}
.cc{
    position: relative;
    top: -22px;
    margin-left: 23px;
}
.div4{
    margin-left: 10%;
    position: relative;
    top: 12%;
    background-color: #a393eb ;
    height: 50px;
    width: 80%;
    border-radius: 20px;
}
.d{
    color: #6643b5;
    position: relative;
    top: 30%;
    margin-left: 20px;
}
.dd{
    position: relative;
    top: -22px;
    margin-left: 23px;
}
button{
    border: transparent;
    width: 70%;
    height: 10%;
    background-color: darkslateblue;
    border-radius: 40px;
    position: relative;
    top: 30%;
    margin-left: 15%;
    font-size: 30px;
    color: white;
}
.attribution{
    margin-top: 800px;
    margin-left: 800px;
}
}

@media (max-width:900px){
    body{
    background-color: aliceblue;
}
.div1{
    background-color: #3a0077;
    height: 650px;
    width: 105%;
    border-radius: 40px;
    margin: -30px -8px;
} 
.titre1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    letter-spacing: 1px;
    color: grey;
    margin-left: 20%;
    position: relative;
    top: 80px;
}
.pourcentage{
    width: 200px;
    border-radius: 50%;
    background-color: #6643b5 ;
    width: 250px;
    height: 250px;
    margin-left: 20%;
    position: relative;
    top: 10px;
}
.POUR{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    margin-left: 28%;
    position: relative;
    top: 60px;
}
.CENTAGE{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
    margin-left: 33%;
    position: relative;
    top: -45px;
}
.draCHnw{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
    margin-left: 35%;
    margin-top: 50px;
}
.draCHnw2{
    width: 80%;
    margin-left:15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}
.drachnw3{
    width: 80%;
    margin-left:19%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    position: relative;
    top: -20px;
}
.drachnw4{
    width: 80%;
    margin-left:38%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    position: relative;
    top: -40px;
}
.div2{
    background-color: transparent;
    height: 650px;
    width: 500Px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin: -50px -30px;
}
#titre{
    margin-left: 50px;
    position: relative;
    top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 28px;
}
.div11{
    margin-left: 10%;
    position: relative;
    top: 5%;
    background-color: #ffd3b6 ;
    height: 50px;
    width: 60%;
    border-radius: 8px;
}
.a{
    color: #fd5959;
    position: relative;
    top: 30%;
    margin-left: 20px;
}
.aa{
    position: relative;
    top: -22px;
    margin-left: 23px;
}
.div22{
    margin-left: 10%;
    position: relative;
    top: 8%;
    background-color: #ffebbb ;
    height: 50px;
    width: 60%;
    border-radius: 8px;
}
.b{
    color: #f07810;
    position: relative;
    top: 30%;
    margin-left: 20px;
}
.bb{
    position: relative;
    top: -22px;
    margin-left: 23px;
}
.div3{
    margin-left: 10%;
    position: relative;
    top: 10%;
    background-color: #e0ffcd ;
    height: 50px;
    width: 60%;
    border-radius: 8px;
}
.c{
    color: #42b883;
    position: relative;
    top: 30%;
    margin-left: 20px;
}
.cc{
    position: relative;
    top: -22px;
    margin-left: 23px;
}
.div4{
    margin-left: 10%;
    position: relative;
    top: 12%;
    background-color: #a393eb ;
    height: 50px;
    width: 60%;
    border-radius: 8px;
}
.d{
    color: #6643b5;
    position: relative;
    top: 30%;
    margin-left: 20px;
}
.dd{
    position: relative;
    top: -22px;
    margin-left: 23px;
}
button{
    border: transparent;
    width: 60%;
    height: 10%;
    background-color: darkslateblue;
    border-radius: 40px;
    position: relative;
    top: 20%;
    margin-left: 10%;
    font-size: 30px;
    color: white;
}
.attribution{
    margin-top: 800px;
    margin-left: 800px;
}
}